* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.img {
    display: flex;
}

#imagen-about {
    width: 50vw;
    height: 50vw;

}

nav {
    background: rgb(2, 2, 89);
    height: 80px;
    width: 100%;
    color: WHI;

}

.enlace {
    position: absolute;
    padding: 20px 50px;
    color: antiquewhite;
    text-align: center;
    margin-top: 1vh;
}


.enlace h3 {
    text-align: left;
}

.logo {
    height: 40px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

li a:hover {
    background: lightskyblue;
    transition: .3s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

section {
    background: url(fondo.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh -80px);
}

/*PAGINA 1-----*/

#pagina1 {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid violet;
}

#marca {
    width: 45vw;
    margin-left: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* align-content: space-between; */
    align-items: center;
}

#marca h2 {
    font-size: 70px;
}

#marca h3 {
    font-size: 30px;
}

#reserva {
    display: flex;
    flex-direction: column;
}

#marca button {
    font-size: 15px;
    background-color: rgb(7, 7, 72);
    color: aliceblue;
    border-radius: 10px;
    height: 60px;
    width: 100px;

}

#imagen-portada {
    width: 45vw;
    height: 90vh;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

#imagen-portada img {
    width: 50vw;
    height: 50vw;

}

/*PAGINA 2-----*/

#pagina2 {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid violet;
}


#info {
    width: 45vw;
    margin-left: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* align-content: space-between; */
    align-items: center;
}

#nosotros {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

#info h2 {
    font-size: 50px;
}

#info p {
    font-size: 35px;
}


#learn button {
    font-size: 15px;
    background-color: rgb(7, 7, 72);
    color: aliceblue;
    border-radius: 10px;
    height: 60px;
    width: 100px;

}

/*PAGINA 3-----*/
#pagina3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    border: 1px solid violet;
}

.contenedor-textos {
    display: flex;
    /*con esto hago el texto responsive*/
    flex-direction: column;
    /*con esto hago que el texto este debajo del otro*/
    text-align: center;
    font-size: 3vw;
    /*colocando la informacion en vw queda con el ancho visible*/
    margin-bottom: 20px;
}

.contenedor-imagenes {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    /* Alinea las imágenes en la parte superior */
}

.contenedor-textos p {
    color: #ff702a;
}

.imagen {
    text-align: center;
    position: relative;
    /* Permite posicionar el texto dentro de la imagen */
}

.imagen img {
    width: 80%;
    height: auto;
    display: block;
    margin-left: 10%;
    /*aqui agrego borde y estilos*/
    border-style: double;
    border-width: 4px;
    border-color: darkblue;


}

.textos-img {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    background: rgba(232, 154, 52, 0.575);
    font-size: 2vw;
    color: rgb(255, 255, 255);
    bottom: -50px;
    /* Ajusta la posición vertical */
    left: 50%;
    /* Centra el texto horizontalmente */
    transform: translateX(-50%);
    /* Ajusta la posición horizontal */

}

#pagina3 h3 {
    width: 27vw;
    margin-left: 3vw;
    background-color: rgba(4, 4, 73, 0.678);
    font-size: 2vw;
    color: aliceblue;
}

#pagina3 h4 {
    width: 27vw;
    margin-left: 3vw;
    background-color: rgba(154, 154, 173, 0.31);
    font-size: 2vw;
}

#pagina3 h5 {
    width: 27vw;
    margin-left: 3vw;

    font-size: 2vw;
}



/*PAGINA 4-----*/
#pagina4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    border: 1px solid violet;
}

.services-textos {
    display: flex;
    /*con esto hago el texto responsive*/
    flex-direction: column;
    /*con esto hago que el texto este debajo del otro*/
    text-align: center;
    font-size: 3vw;
    /*colocando la informacion en vw queda con el ancho visible*/
    margin-bottom: 20px;
}

.services-imagenes {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    /* Alinea las imágenes en la parte superior */
}

.services-textos p {
    color: #ff702a;
}

.imagen4 {
    text-align: center;
    position: relative;
    /* Permite posicionar el texto dentro de la imagen */
}

.imagen4 img {
    width: 80%;
    height: auto;
    display: block;
    margin-left: 10%;
    /*aqui agrego borde y estilos*/
    border-style: double;
    border-width: 4px;
    border-color: darkblue;


}

.textos-img {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    background: rgba(232, 154, 52, 0.575);
    font-size: 2vw;
    color: rgb(255, 255, 255);
    bottom: -50px;
    /* Ajusta la posición vertical */
    left: 50%;
    /* Centra el texto horizontalmente */
    transform: translateX(-50%);
    /* Ajusta la posición horizontal */

}

#pagina4 h3 {
    width: 27vw;
    margin-left: 3vw;
    background-color: rgba(4, 4, 73, 0.678);
    font-size: 2vw;
    color: aliceblue;
}

#pagina4 h4 {
    width: 27vw;
    margin-left: 3vw;
    background-color: rgba(154, 154, 173, 0.31);
    font-size: 2vw;
}

#pagina4 h5 {
    width: 27vw;
    margin-left: 3vw;
    font-size: 2vw;
}

/*PAGINA 5-----*/
#pagina5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100vw;
    border: 1px solid violet;
}

#menufooter a{
    color: rgba(250, 235, 215, 0.461);
}

.quality {
    display: flex;
    /*con esto hago el texto responsive*/
    flex-direction: column;
    /*con esto hago que el texto este debajo del otro*/
    text-align: center;
    font-size: 3vw;
    /*colocando la informacion en vw queda con el ancho visible*/
    margin-bottom: 20px;
    background-image: url("fond.jpeg");
    width: 80vw;
    height: 40vh;
    color: antiquewhite;
}

.quality h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: antiquewhite;
    font-size: 4vw;
    margin-top: 10vh;
}

.quality button {
    font-size: 15px;
    background-color: rgb(7, 7, 72);
    color: aliceblue;
    border-radius: 10px;
    height: 60px;
    width: 100px;
}


footer{
    width: 100vw;
    height: auto;
    background-color: rgb(2, 2, 89);
    color: aliceblue;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

#barrafooter{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
    color: antiquewhite;
    
}
.modulos{
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
    font-size: 25px;
    margin-bottom: 5vh;
    margin-top: 5vh;

}

#menufooter {
    color: antiquewhite;

}

#users{
    display: flex ;
    justify-content: space-around;
}

#redes{
    margin-left: 5vw;
    color: antiquewhite;
    font-size: 25px;
}

#users img{
    width: 2vw;
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    #check:checked~ul {
        left: 0;
    }
}